if SHIELD_CIRQUETRACKPAD

config ZMK_KEYBOARD_NAME
    default "Split Mouse"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CIRQUETRACKPAD || SHIELD_PIMTRACKBALL

config ZMK_SPLIT
    default y

endif